#title {
    background-color: #0574BC;
    margin-top: 2.5rem;
    width: 30%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 25px 25px 0;

    h1 {
        color: white;
        font-family: Roboto;
    }
}